h1{
    color:blue;
    text-align: center;
}

.flex-container {
    display: flex;
    /* flex-wrap: nowrap; */
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    width: 300px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}
.flex-container0 {
    display: flex;
    /* flex-wrap: nowrap; */
    background-color: DodgerBlue;
}

.flex-container0 > div {
    background-color: #f1f1f1;
    margin: 10px;
    width: 300px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}
.container1{
    display: grid;
    grid-template-areas: 
        "header header" 
        "menu content" 
        "footer footer"
    grid-template-columns: 1fr, 3fr;
    gap: 5px;
    background-color: #2196F3;
    padding: 5px;
}