body{
  color: rgb(13, 14, 13);
}
container {
    display: flex;
    /* flex-wrap: nowrap; */
    background-color: DodgerBlue;
    padding: 10px;
    margin: 10px;
    gap: 35px;
    align-items: center;
}
.container img{
  padding: 10px;
}
.container img {
  padding: 10px;
  margin: 30px;
  justify-content: space-between;
}

.flex-container {
    display: flex;
    /* flex-wrap: nowrap; */
    background-color: DodgerBlue;
}