body {
  background-color: #edf6ed;
  /* padding: 10px; */
  height: 1000px;
  max-width: 1500px;
  color: #eef2f4;
  color: black;
}

container {
  display: flex;
  background: #f6f8fc;
  gap: 35px;
  align-items: center;
}

/* create search icon---------------------------------- */

div0 {
  color: red;
  border: 2px solid rebeccapurple;
}

.search-wrapper-1 {
  width: 520px;
  border-radius: 25px;
}

.search-input-1 {
  width: 100%;
  height: 20px;
  padding: 4px 14px 3px 50px;
  /*space for icon*/
  border-radius: 10px;
  /*search bar radius.*/
  border: 2px solid rgb(236, 220, 220);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
  outline: none;
  font-size: 13px;
  color: #333;
}

.search-input-1:hover {
  background-color: rgb(251, 255, 249);

}

.search-input-1::placeholder {
  color: #b3b8c5;
}

.search-container-1 {
  /* border: 3px dotted yellow; */
  position: relative;
}

.search-icon-1 {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #c4c9d6;
}

.search-icon-1::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 2px;
  background: #c4c9d6;
  border-radius: 2px;
  transform: rotate(47deg);
  right: -4px;
  bottom: -2px;
}

/* end search icon------------------------------------------ */
form {
  padding-left: 200px;
  display: flex;
}

/* Notification bell. -------------- */
.bell {
  padding-left: 200px;
  height: 15px;
  cursor: pointer;
  /* border: 2px solid transparent; */
  transition: transform .3s;
}

.bell:hover {
  transform: scale(1.01);
}

/* .bell-btn {
  padding-left: 50px; 
  z-index: 100;
    width: 26px;
    height: 26px;
    background: url('/img/notification-bell_5817858.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    border: 3px dotted red;
} */


/* Create Dropdown----------------------------- */
.doctor-wrapper-1 {
  width: 300px;
  /* border: 2px dotted red; */
}

.doctor-row1 {
  position: relative;
  display: flex;
  align-items: center;
  background: #f6f8fc;
  padding: 24px 1px;
  cursor: pointer;
}

.doctor-row1:hover {
  background: #d7d9db59;
}

/* popup id---------------------------- */
.popup {
  /* width: 100%; */
}

.avatar-1 {
  /* border: 2px dotted red; */
  width: 35px;
  height: 35px;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 12px;
  background: #dbe7f7;
  flex-shrink: 0;

}

.avatar-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.doc-info-1 {
  flex: 1;
}

.doc-name-1 {
  font-size: 15px;
  font-weight: 600;
  color: #222;
  margin-bottom: 2px;
}

.doc-role-1 {
  font-size: 12px;
  letter-spacing: 1px;
  color: #7e8693;
}

.arrow-1 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #9ea5b2;
  transition: transform 0.2s ease;
  margin-right: 8px;
}

/* dropdown area */
.doctor-row1,
.dropdown {
  width: 100%;
}

.dropdown-1 {
  z-index: 10;
  top: 100%;
  left: 0;
  position: absolute;
  display: none;
  /* width: 200px; */
  /* width: 100%; */

  background: #ffffff;
  border-radius: 5px;
  /* box-shadow: 8px 6px 18px rgba(0, 0, 0, 0.10); */
  box-shadow: 15px #060606;
  padding: 10px;
  font-size: 13px;
  color: #444;

  /* border: 2px solid red; */
}


.dropdown-1 h4 {
  margin: 0 0 6px;
  font-size: 13px;
  font-weight: 600;
  color: #222;
}

.dropdown-1 ul {
  margin: 0;
  padding-left: 18px;
}

.dropdown-1 li {
  margin-bottom: 4px;
}

.doctor-wrapper-1.open .dropdown-1 {
  /* display: block; */
}

.doctor-wrapper-1.open .arrow-1 {
  transform: rotate(180deg);
}

/* end dropdown-------------------------------------- */


.profile-image img {
  height: 40px;
}

.parent {
  display: flex;
}

/*create dropdown -------------------------*/
#toggle:checked~.dropdown {
  display: block;
}

.card {
  display: block;
  background: #eef2f4;
  padding: 12px;
  width: 260px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

/* Image + Name row */
.card {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

.info h3,
.info p {
  margin: 0;
}

.info p {
  color: gray;
}

/* Hide checkbox */
#toggle {
  display: none;
}

/* Dropdown hidden */
.dropdown {
  display: none;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 100px;
  color: #444;
}

/* Show dropdown when checkbox checked */
#toggle:checked~.dropdown {
  display: block;
}

/* Arrow rotate on open */
.arrow {
  margin-left: auto;
  transition: 0.3s;
}

#toggle:checked~.arrow {
  transform: rotate(180deg);
}

/* senction 2 ------------------------------------------------- */
.content-11 {
  border: 3px dotted red;
}

.down-img {
  width: 250px;
  /* दोनों की चौड़ाई (Width) 150 पिक्सल होगी */
  height: 250px;
  /* दोनों की ऊँचाई (Height) 150 पिक्सल होगी */

  /* यह महत्वपूर्ण है: यह सुनिश्चित करता है कि छवि पूरी तरह से 
       दिए गए 'width' और 'height' में फिट हो, भले ही उसका मूल अनुपात अलग हो। */
  object-fit: cover;

  /* 'cover': छवि को काट देगा लेकिन सुनिश्चित करेगा कि पूरा क्षेत्र भरा हुआ है। */
  /* 'contain': छवि को छोटा कर देगा ताकि वह पूरे क्षेत्र में फिट हो, किनारें खाली रह सकते हैं। */
  display: flex;
}


/* ================================================================================== */


.container {
  border: 3px double red;
  display: grid;
  grid-template-areas:
    "header header header"
    "menu content ads"
    "footer footer footer";

  grid-template-columns: 1fr 3fr 1fr;
  /* 3 columns */
  gap: 5px;
}

.header {
  grid-area: header;
  border: 2px dotted red;
}


/* Emergency container------------------ */

.emergency {
  /* align-items: center; */
  color: rgb(9, 8, 0);
  text-decoration: none;
  /* padding-left: 20px; */
  display: flex;
  align-items: center;
  /* border: 4px dotted rgb(255, 0, 221); */

}

.emergency-1 {
  display: flex;
  /* border: 35px solid black; */
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  text-align: left;

  width: 100px;
  margin-right: 100px;
  z-index: 100;
  
}

.emergency-1 img{
  width: 15px;
  height: 17px;
  background-color: #ddcdcd;
  padding: 10px 10px;
  border-radius: 10px;
  margin-right: 20px;
    filter: hue-rotate(90deg) brightness(1.2);
    fill: white;
  
}

.dashbord{
  border: 3px dotted black;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
}

.ads {
  grid-area: ads;
}

.footer {
  grid-area: footer;
}


.container div {
  background-color: white;
  /* padding: 10px; */
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.container div.menu {
  grid-area: menu;
}

.container div.content {
  grid-area: content;
  font-weight: bold;
}

.container div.footer {
  grid-area: footer;
  text-align: center;
}

/* .container-11 */
.container-11 {
  display: flex;
  background-color: dodgerblue;
}

.container-11 div {
  background-color: #f1f1f1;
  color: #000;
  width: 200px;
  height: 175px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  /* font-size: 30px; */
}

.next-patient-card-header {
  display: flex;
}

.patient-name {
  display: flex;
}

.patient-time {
  display: flex;
}

/*----------------------Create section --------------------------------------------*/
.container-2 {
  /* display: grid; */
  /* grid-template-areas: */
  /* "menu content" */
  /* "footer footer"; */
  /* grid-template-columns: 1fr 2fr; */
  /* gap: 3px; */
  /* background-color: dodgerblue; */
  /* padding: 5px; */
  /* display: flex; */
  /* padding: 20px; */
  /* align-items: center; */
  /* background-color: rgb(184, 85, 102); */
  /* text-align: center; */
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Yeh selector keval un 'a' tags ko target karega 
   jo kisi 'div' ke andar hain, aur woh 'div' kisi 'section' ke andar hai. */

.manu-item-table img,
.manu-item-table a {
  /* Dono elements par 'vertical-align: middle' lagana zaroori hai! */
  vertical-align: middle;
  text-decoration: none;
}

.manu-item-table a {
  /* Anchor tag ki underline hata do */
  /* text-decoration: none; */
  /* Optional: Icon aur text ke beech thoda space */
  margin-left: 5px;
  /* color: #333; */
  /* Default text color set karein */
}

section div a {
  text-decoration: none;
}

.emergency img {
  padding-left: 13px;
  padding-right: 13px;
}



img table {
  font-weight: 100;
}

table tr th {
  font-weight: bold;
}


.dashbord {
  color: rgb(101, 244, 96);
  padding-left: 0px;
  text-decoration: none;

}

.contrast-eye {
  color: sandybrown;
  padding-left: 20px;
  text-decoration: none;


}

.ficon {
  font-size: 15px;
  padding-right: 10px;
  color: rgb(205, 194, 194);
  align-content: center;
  display: flex;
}

.fsize {
  color: rgb(120, 5, 207);
  text-align: end;
  text-decoration: none;
  display: flex;
  padding-left: 25px;
}


.arrow-2 {
  width: 0;
  height: 0;
  border-left: 15px solid red;
  border-right: 15px solid greenyellow;
  border-top: 16px solid #9ea5b2;
  border-bottom: 16px solid yellow;
}

.parents {
  display: flex;
  justify-content: center;
  /* horizontal center */
  align-items: center;
  /* vertical center (optional) */
  height: 100px;
}